nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  height: var(--navbar-height);
}

.social-media-icon {
  width: 25px;
  height: 25px;
  color: white;
}
